# Redash
REDASH_URL=https://redash.tuempresa.com
REDASH_API_KEY=tu_api_key_aqui

# SMTP
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=noreply@tuempresa.es
SMTP_PASSWORD=tu_password
SMTP_FROM=noreply@tuempresa.es

# Auth
JWT_SECRET=cambia_esto_por_un_secreto_seguro_min32chars

# Timezone (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones)
TIMEZONE=Europe/Madrid
